body {
    font-family: Open Sans,Verdana,sans-serif;
    background-color: lightgray;
}

h2 {
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    margin: 2px;
}

a:link, a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover, a:active {
    text-decoration: underline;
    color: rebeccapurple;
    font-size: 1.1em;
}

.links-grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 4px;
}

.links-grid-container > div {
    text-align: center;
}
