body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

h2 {
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    margin: 2px;
}

.links-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.links-grid-container > div {
    text-align: center;
}
